<ul class="home-metro-box-wrap animated fadeIn">
  <li>
    <a class="home-metro-box" href="/user">用户 <span>></span></a>
  </li>
  <li>
    <a class="home-metro-box" href="/room">房间<span>></span></a>
  </li>
  <li>
    <a class="home-metro-box" href=<%= '/user/' + user%>>个人<span>></span></a>
  </li>
  <!-- <li>
    <a class="home-metro-box" href="/about">关于<span>></span></a>
  </li> -->
</ul>